<div class="h-full w-full max-w-xs mx-auto align-middle">
  <h2>Refresh Data API Session</h2>
  <%= simple_form_for :login, url: data_api_login_path do |f| %>
    <%= f.input :ip %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit, "Login" %>
    <%= f.input :auth_token, input_html: {value: flash[:notice]} %>
  <% end  %>
</div>