<div class="h-full w-full max-w-xs mx-auto align-middle">
  <h1>Terminate Session</h1>
  <p>Please select the type of session you are terminating</p>
  <%= simple_form_for :login, url: sessions_terminate_path do |f| %>
    <%= f.input :ip,  collection: ::ControllerHelper::IP_ADDRESSES, selected: '127.0.0.1' %>
    <%= f.input :password %>
    <%= f.input :session_type, as: :select, collection: %w[DATA CTI MONITORING ADMINACCTMGMT ENDUSERACCTMGMT],
                selected: 'DATA' %>
    <%= f.button :submit, "Logout" %>
  <% end  %>
</div>