<div class="pt-2 mt-2">
  <%= simple_form_for :api, url: data_path, method: :post do |f| %>
    <%= f.input :ip, collection: ::ControllerHelper::IP_ADDRESSES, selected: '127.0.0.1' %>
    <% @data_api.params.each do |param| %>
      <% if param == '&timezone=' %>
        <%= f.input param.to_sym, collection: ::ControllerHelper::TIMEZONES, selected: 'EST' %>
      <% elsif param == '&timeformat=' %>
        <%= f.input param.to_sym, input_html: { value: 'absolute' } %>
      <% elsif param == '&loginname=' %>
        <%= f.input param.to_sym, input_html: { value: 'example_username' } %>
      <% elsif param.include? %w[&endtime &starttime] %>
        <p>Format (Include Commas) : year, month, day, hour, min, second</p>
        <%= f.input param.to_sym, input_html: { value: Time.now } %>
      <% else %>
        <%= f.input param.to_sym %>
      <% end %>
    <% end %>
    <%= f.hidden_field :endpoint, :value => @data_api.endpoint %>
    <%= f.hidden_field :call_name, :value => @data_api.name %>
    <%= f.button :submit, "Prepare Request" %>
  <% end %>
</div>